 body{
  background-color:#f7f7f7;
  margin-bottom:0%;
}

#nav-bar {
  background-color: #ffffff;
}

.kali {
  font-family: Lato, sans serif;
  font-size: 150%;
}

.about {
  font-family: Lato, sans serif;
}

.sign-in{
 font-family: Lato, sans serif;
}

.kali-logo{
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.panel{
  margin-top: 50px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(126, 126, 126, 0.5);
  padding-bottom: 30px;
  margin-bottom: 10%;
}

.profile-image-plus-round-1327 {
  object-fit: contain;
  margin-top: 10px;
  margin-bottom: 10px;
}

.calendar-1322 {
    width: 45%;
  }
  .profile-1339 {
    width: 45%;

  }
.img{
  margin-top: 25px;
  text-align: center;
}

.head-text {
  font-family: Lato, sans serif;
  font-size: 150%;
  letter-spacing: 0.5px;
  text-align: center;
  color: #5c5c5c;
  margin-bottom: 10px;
}


.btn-login {
    margin-top: 8%;
    margin-bottom: 4%;
    background: #4267b2;
    border-radius: 5px;
    color: white;
    height: 40px;
    text-align: center;
}

.bold {
  font-weight: bold;
}

.btn-container {
  text-align: center;
}

.line {
  margin: auto;
  margin-top: 5%;
  height: 1.5px;
  border: solid 0.5px #c9c9c9;
}



.light-text {
  font-family: Lato, sans serif;
  font-size: 95%;
  letter-spacing: 0.5px;
  text-align: left;
  color: #9b9b9b;
}

.bullets {
  margin-bottom: 15px;
  margin-top: 50px;
}

.footer {
    bottom: 0px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #324e7b;

}

.all-rights{
    font-family: Lato, sans serif;
    text-align: left;
    margin-left: 7%;
    color: #9b9b9b;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.sign-head-text{
  text-align: center;
}

.arrow-left{
  padding: 3%;
}

.sign-head-text {
	font-family: Lato;
	font-size: 22px;
	font-weight: bold;
	letter-spacing: 0.8px;
	text-align: center;
	color: #86a6df;
  margin-top: -15px;
}

.oval {
	border: solid 1.5px #b7b7b7;
  border-radius: 100%;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}

.oval-active {
  border: solid 1.5px #86a6df;
  border-radius: 100%;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}

.num-label{
  color: #b7b7b7;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
}

#num-label-active {
  color: #86a6df;
}

#bubble-holder-active{
  color:#86a6df;
}

.bubble-holder{
  margin-top: 30px;
  text-align: center;
  color:#b7b7b7;
}


/*FORM GROUP*/

.form-label {
  padding-top: 15px;
  margin-bottom: -2px;
	font-family: Lato;
	font-size: 16px;
	letter-spacing: 1.1px;
	text-align: left;
	color: #4a4a4a;
}

.form-container {
  margin-top: 20px;
}

.form-input {
  padding-left: 1px;
  border-radius: 0%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px #4a4a4a;
}

.form-input-select {
  padding-left: 0px;
  border-radius: 0%;
  /*border-top: none;
  border-left: none;
  border-right: none;*/
  border: solid 1px #4a4a4a;
  margin-top: 10px;
  cursor: pointer;
}

#select-default {
  color:red!important;
}

.submit-button{
  background-color: #86a6df;
  color:white;
  font-family: Lato;
  font-size: 18px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
}

/*CODE FORM*/

.code-row{
  color: #5c5c5c;
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
}

/*Role Form*/

.fake-btn {
  cursor: pointer;
}

.btn {
  cursor: pointer;
}
.x-out {
  margin-top: 55px;
  cursor: pointer;
}

/*Home SCREEN*/

.panelHome{
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(126, 126, 126, 0.5);
  margin-bottom: 30px;
  height: 700px;
  /*display: flex;     /* full width by default */*/
  min-height: 100vh;
  text-align: center;
}

.interHeader{
  border-bottom: solid 0.5px #cacaca;
  margin-left: 0px;
  margin-right: 0px;
  height:10%;
  text-align: center;
}

.names {
  text-align: center;
  font-size: 14px;
}

.employee-roster-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*height: 500px;*/
  height: 100%;
}

#roster-header-text{
  margin-top: -7px;
}

.employee-header{
  /*padding-left: 12px;*/
  padding-top: 12px;
  /*padding-bottom: 12px;*/
  border-right: solid .5px #cacaca;
  font-family: Lato;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1.4px;
	text-align: center;
	color: #5c5c5c;
}

.calHeader{
  padding-top: 12px;
  margin-top: 0px;
  padding-bottom: 12px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 40px;
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: left;
  color: #86a6df;
  margin-bottom: 0px;
}

.week-header-container{
  margin-top: 0px;
  padding-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  text-align: center;
  height:90%;
}

.cal-week-header {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  color: #86a6df;
  margin-bottom: 0px;
}

.create-shift-button {
  background-color: #86a6df;
  color:#ffffff;
  font-family: Lato;
  font-size: 16px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 40px;
}

.inviteButton{
  text-align: center;
  background-color: #86a6df;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.4px;
  text-align: center;
  color: #ffffff;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.no-u:hover{
  text-decoration: none;
}

#employeeCol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.calendar-grid {
  margin-left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

#date-label{
  margin-top: 6px;
}

.week-col{
  margin-left: 0px;
  padding-left: 0px;
  /*text-align: center;*/
  border-left: solid 0.5px #cacaca;
  width: 13.6%;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
}

.hour-labels{
  width: 4.8%;
}

.week-header{
  height: 10%;
  border-bottom: solid 0.5px #cacaca;
  text-align: left;
  padding-left: 5px;
  padding-top: 4px;
  color: #5c5c5c;
}

.calendar-content{
  height: 3.75%;
  border-bottom: solid 0.1px #cacaca;
}

.shift-container{
  /*height: 3.75%;*/
  border-bottom: solid 0.1px #cacaca;
  background-color: green;
  color:#ffffff;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*background-color: black!important;*/
}
.shift-container-small{
  /*height: 3.75%;*/
  border-bottom: solid 0.1px #cacaca;
  background-color: green;
  color:#ffffff;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*background-color: black!important;*/
}

.shift-container-small-content{
  text-align: center;
  font-size: 12px;
}

.shift-filled {
  background-color: #86df99;
}

.shift-open {
  background-color: #df8b86;
}

.shift-container-role{
  text-align: left;
  padding-left: 7px;
  font-size: 13px;
}

.shift-container-time{
  text-align: left;
  padding-left: 7px;
  font-size: 11px;
}

.shift-header-container{
  padding-top: 5px;
}

.shift-container-count{
  text-align: right;
  padding-right: 7px;
  font-size: 11px;
  padding-bottom: 5px;
}

.cal-hour-label{
  height: 3.75%;
  font-size: 9px;
  color: #5c5c5c;
}

/*HOME PAGE MODALS*/

.modal-body {
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
}

.modal-header {
  color: #86a6df;
  text-align: left;
  font-size: 25px;
  letter-spacing: 1s.1px;
  margin-left: 0px;
  margin-bottom: 10px;
  padding-left: 0px;
  border: none;
}

.form-label2 {
  padding-top: 5px;
  margin-bottom: 15px;
	font-family: Lato;
	font-size: 20px;
	letter-spacing: 1.1px;
	text-align: left;
	color: #4a4a4a;
}

.create-shift-date-form{
  margin-top: 5px;
}

.create-shift-worker-form{
  margin-top: 40px;
}

.create-shift-type-form {
  margin-top: 40px;
  margin-bottom: 15px;
}

.x-out-modal{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 5px;
}

.invite-x{
  padding-left: 0px;
  margin-left: 0px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 16px;
}

.shiftModal {
  color: black;
  font-size: 14px;
}

.shiftModalHeader {
  color: black;
  font-size: 20px;
  padding-bottom: 10px;
}

.shift-filled-Text{
  color:#89DE9B;
  font-weight: bold;
  padding-top: 5px;
  font-size: 16px;
}

.shift-open-Text {
  color:#DD8B87;
  font-weight: bold;
  font-size: 16px;
}

.shiftModalHeader2 {
  color: black;
  font-size: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}
